/* Mobile phones */

.main-img {
    width: 100%;
    aspect-ratio: 3 / 1;
    object-fit: cover;
}

.title-container {
    text-align: center;

    header {
        font-size: 95%;
    }
    p {
        font-style: italic;
        font-size: 15%;
    }
}

.content-container {
    margin: 0 6% 100% 6%;
    text-align: center;

    img {
        width: 80%;
        margin-top: 3%;
    }

    .captions {
        font-style: italic;
        margin-bottom: 3%;
        font-size: 15%;
    }

    .paragraphs {
        margin: 3%;
        font-size: 80%;
    }
}

@media only screen and (min-width: 768px) {
    /* Desktops */
    .main-img {aspect-ratio: 4 / 1;}
    .title-container > header {font-size: 200%;}
    .title-container > p {font-size: 150%;}
    .content-container > div > .captions {font-size: 60%;}
    .content-container {
        margin: 0 10% 5% 10%;
        font-size: 250%;
    }
}